/*---------------------------------------------------------------------------*/
/* Import */
/*---------------------------------------------------------------------------*/
@import url("stylesheet.css");
/*---------------------------------------------------------------------------*/
/* Font & Color */
/*---------------------------------------------------------------------------*/
html, body, td, th, input, textarea, select, button {
	font:12px Arial;
}
/*---------------------------------------------------------------------------*/
/* Link */
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Structure */
/*---------------------------------------------------------------------------*/
html, body, header {
	width:100%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	margin:0 auto;
    overflow-x: hidden;
}

p {line-height:15px;}

ul, li {
	margin:0;
	padding:0;	
}

h1 {
	font-family: 'Trebuchet MS';
	font-size:33px;
	color:#FFFFFF;
}

/*---------------------------------------------------------------------------*/
/* @font-face */
/*---------------------------------------------------------------------------*/

@font-face {
    font-family: 'DIN-BoldBold';
    src: url('../font/din-bold-webfont.eot');
    src: url('../font/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din-bold-webfont.woff') format('woff'),
         url('../font/din-bold-webfont.ttf') format('truetype'),
         url('../font/din-bold-webfont.svg#DIN-BoldBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DIN-LightLight';
    src: url('../font/din-light-webfont.eot');
    src: url('../font/din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din-light-webfont.woff') format('woff'),
         url('../font/din-light-webfont.ttf') format('truetype'),
         url('../font/din-light-webfont.svg#DIN-LightLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DIN-MediumMedium';
    src: url('../font/din-medium-webfont.eot');
    src: url('../font/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din-medium-webfont.woff') format('woff'),
         url('../font/din-medium-webfont.ttf') format('truetype'),
         url('../font/din-medium-webfont.svg#DIN-MediumMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'DIN-Regular';
    src: url('../font/DIN-Regular.eot');
    src: url('../font/DIN-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/DIN-Regular.woff') format('woff'),
         url('../font/DIN-Regular.ttf') format('truetype'),
         url('../font/DIN-Regular.svg#DIN-MediumMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Trebuchet-MS-Bold';
	src: url('../font/TREBUCBD.eot');
	src: local('?'), url('../font/TREBUCBD.woff') format('woff'), url('../font/TREBUCBD.ttf') format('truetype'), url('../font/TREBUCBD.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Trebuchet-MS-Regular';
	src: url('../font/TREBUC.eot');
	src: local('?'), url('../font/TREBUC.woff') format('woff'), url('../font/TREBUC.ttf') format('truetype'), url('../font/TREBUC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*---------------------------------------------------------------------------*/
/* Content */
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* <Home> */
/*---------------------------------------------------------------------------*/


